form textarea, section.modal form input[type="text"], div.modal.active form input[type="text"],
main section.main div.edit-name form input[type="text"] {
 font: 1.5rem "Poppins_med";
 margin-top: 2rem;
 resize: none;
 border: rgb(51, 50, 50) solid 2px;
 border-radius: 5px;
 padding: .5rem .5rem .5rem 1rem;
}

section.modal form input[type="text"], form textarea {
 height: 10rem;
}

::placeholder {
 color: #000;
 font-family: "Poppins_med";
}

form input[type="submit"],  section.modal form div.buttons button, div.modal.active button.cancel,
main section.main div.edit-name button.cancel  {
 width: 100%;
 padding: .3rem 0;
 background-color: #202020;
 font: 1.5rem "Poppins_med";
 color: #fff;
 cursor:  pointer;
 border: none;
 border-radius: 5px;
 margin-top: 3rem;
}

section.modal form div.buttons input[type="submit"],  section.modal form div.buttons button { width: 50% }

form input[type="submit"]:hover {opacity: .95}