
    <%- include('./inc/header') %>
    
    <main>
        <section class="header">
            <div class="main-description">
                <p class="text-main">Seu portal de notícias favorito</p>
            </div>

            <div class="main-image"> <img src="/img/home-bg.svg" alt="Desenho de pessoas" width="500"> </div>
        </section>
    </main>

    <%- include('./inc/footer') %> 