<%- include('./inc/header') %>

    <main>
        <form action="/create-post" method="POST" autocomplete="off">

            <input name="title" type="text" placeholder="Título"
            maxlength="40" minlength="5" required autofocus>

            <textarea name="content" placeholder="Conteudo"
            maxlength="400" minlength="40" required></textarea>

            <select name="language">
                <option></option>
                <% topics.forEach(topic => { %>
                    <option><%= topic.lang %> </option>
                <% }) %>
            </select>

            <input type="submit" value="Criar post">
        </form>
    </main>

<%- include('./inc/footer') %>