<%- include('inc/header') %>

    <main>
<<<<<<< HEAD
        <section class="posts">
            <%- include('inc/postsContainer') %>
        </section>
    </main>

    <%- include('inc/footer') %>
=======
        
    </main>

<%- include('inc/footer') %>
>>>>>>> 4ebd161dfd6ad550b4a0173475c73c493d4daadc
