<div class="hamburger-icon"> <img src="/img/menu-icon.svg" alt=""> </div>
<aside class="menu">
    <ul>
        <li>
            <a href="/admin/manage-topics">Controlar tópicos</a>
        </li>
        <li>
            <a href="/admin/new-writers">Novos escritores</a>
        </li>
    </ul>
</aside>