<section class="modal">
    <form action="/new-admin" method="POST" autocomplete="off">
        <div class="inputs">
            <input type="email" name="email" id="" placeholder="Digite o email do novo administrador" required value="jorge2@gmail.com">
            <input type="number" name="level" placeholder="Level do novo administrador" min="1" max="3" value="2">
            <input type="text" name="adminPass" placeholder="Digite sua senha de administrador" required minlength="5" value="jorge">
        </div>

        <div class="buttons">
            <input type="submit">
            <button class="cancel" type="button">Cancelar</button>
        </div>
    </form>
</section>